@import url("https://fonts.googleapis.com/css2?family=Single+Day&display=swap");

html,
body {
  height: 100%;
  margin: 0;
}

.background {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  background-color: #f0f0f0;
  min-height: 100vh;
  position: relative;
}

.tomate {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #98332b;
  width: 350px;
  height: 270px;
  border-radius: 40%/40%;
  position: relative;
  z-index: 10;
}

.tomate::before {
  font-family: "Single Day";
  content: "GatoMate";
  font-size: 80px;
  position: relative;
  bottom: -150%;
  color: #1b191a;
  font-weight: bold;
}

/* Pseudo-elementos para .tomate */
.tomate::after {
  content: "¡Meow!";
  position: relative;
  bottom: 150%;
  left: 80%;
  transform: translateX(-50%);
  font-family: "Single Day";
  font-size: 24px;
  color: #1b191a;
}

.cabeza {
  background-color: #1b191a;
  width: 160px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  top: -10%;
  right: 20%;
}

.cabeza .oreja {
  background-color: #1b191a;
  width: 50px;
  height: 70px;
  border-radius: 60% 60% 0 0;
  position: relative;
  transform-origin: bottom center;
}

.oreja.oreja-izquierda {
  transform: rotate(-20deg);
  top: -25%;
  left: 15%;
}

.oreja-izquierda + .oreja-derecha {
  transform: rotate(20deg);
  top: -73%;
  right: -55%;
}

.ojo {
  background-color: #bebebe;
  width: 55px;
  height: 60px;
  border-radius: 45%;
  margin: 0 5px;
  position: relative;
}

.ojo-derecho {
  bottom: 100%;
  left: 8%;
}

.ojo-izquierdo {
  bottom: 60%;
  left: 50%;
}

.pupila {
  content: "";
  position: relative;
  width: 20px;
  height: 20px;
  background-color: #1b191a;
  border-radius: 40%;
  z-index: 1;
}

.pupila-izquierda {
  bottom: 140%;
  left: 65%;
}

.pupila-derecha {
  bottom: 126%;
  left: 25%;
}

.pierna {
  display: flex;
  justify-content: center;
  width: 120%;
  height: 150%;
}

.pierna-delantera,
.pierna-trasera {
  width: 45px;
  height: 85px;
  border-radius: 40%;
  background-color: #1b191a;
  position: relative;
}
.pierna-delantera {
  margin: 5px 20px;
  top: -20px;
  left: 5px;
  z-index: 5;
}

.pierna-trasera {
  margin: 10px 15px;
  top: -25px;
  z-index: -2;
}

.pierna > div:nth-child(1) {
  transform: translateX(40%);
}

.pierna > div:nth-child(4) {
  transform: translateX(-20%);
}

.cuerpo {
  display: flex;
  justify-content: center;
  height: 30%;
}

.cola {
  background-color: #1b191a;
  width: 35px;
  height: 150px;
  border-radius: 50%;
  position: relative;
  transform: rotate(80deg);
  left: 420px;
  top: -350%;
}

.hoja {
  position: relative;
  content: "";
  background-color: #4b594c;
  width: 120px;
  height: 50px;
  border-radius: 40%;
}

.hoja1 {
  top: -500%;
  left: 15%;
  transform: rotate(30deg);
}
.hoja2 {
  bottom: 520%;
  right: 0%;
  transform: rotate(90deg);
}
.hoja:last-child {
  bottom: 500%;
  left: -15%;
  transform: rotate(-30deg);
}

/* Animaciones y transiciones */
.cabeza:hover .oreja {
  /*Selector " "*/
  animation: orejaMovimiento 0.5s ease-in-out infinite;
}

@keyframes orejaMovimiento {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
}

.cuerpo:hover .hoja.hoja1 {
  /*Selector " "*/
  animation: balanceoHoja 1s ease-in-out infinite;
}

@keyframes balanceoHoja {
  0%,
  100% {
    transform: rotate(30deg);
  }
  25% {
    transform: rotate(40deg);
  }
  75% {
    transform: rotate(30deg);
  }
}

.cuerpo:hover .hoja.hoja3 {
  /*Selector " "*/
  animation: balanceoHoja3 1s ease-in-out infinite;
}

@keyframes balanceoHoja3 {
  0%,
  100% {
    transform: rotate(-30deg);
  }
  25% {
    transform: rotate(-40deg);
  }
  75% {
    transform: rotate-(30deg);
  }
}

.cuerpo:hover .cola {
  /*Selector " "*/
  animation: balanceoCola 1s ease-in-out infinite;
}

@keyframes balanceoCola {
  0%,
  100% {
    transform: rotate(80deg);
  }
  25% {
    transform: rotate(90deg);
  }
  75% {
    transform: rotate-(80deg);
  }
}

.pierna:hover {
  transition: transform 0.5s ease;
  transform: translateY(-10%);
}
